
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* --------------------------------------- General Styling */

body {
    font-family: 'Roboto', sans-serif;
}


h2 {
    color:#CD2244;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5%;
    font-family: 'Satisfy', cursive;
}

.main-container {
    min-height: 100%;
    margin-bottom: 20px;
}

.inline-block {
    display: inline-block;
}

p {
    margin-top: 20px;
}

/* ---------------------------------------  navbar */

.navbar-custom {
    background-color: #fff;
    margin-top: 10px;
}

.navbar-custom .navbar-text {
    color: #CD2244;
    font-size: 1.5em;
    font-family: 'Satisfy', cursive;
    margin-right: 5%;
}

.logo {
    height: 70px;
    margin-right: 10%;
}

.navbar a {
    color: #16B7B2;
    font-size: 1.5em;
    margin-left: 5%;
}

.navbar {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------  frontpage */

.image-container {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image-container p {
    margin:0;
    font-size: 10px;
}

#introduction {
    font-size: 1.3em;
    margin: 5%;
}

.btn-yellow {
    background-color: #FDA31B;
    color: black;
    width: 50%;
    margin-left: 25%;
}

.btn-yellow:hover {
    background-color: #CD2244;
    color: #black;
}

#introcol {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ---------------------------------------  Map */

.map-block {
    padding-bottom: 20px;
}

#mapinstructions {
    text-align: center;
    size: 1em;
    text-decoration: underline;
}

#map {
    height: 400px;
    width: 100%;
}

/* ---------------------------------------  Selection */

.selection-block {
    background-color: #16B7B2;
    padding-bottom: 20px;
}
 
/* ---------------------------------------  form */

.contactform {
    background-color:#FDA31B;
    padding: 20px;
    overflow: auto;
}

input, label {
    margin: .4rem 0;
}

input, textarea {
    border-width: 1px;
    border-radius: 5px;
    border-color: #16B7B2;
    background-color: #fff;
}

input:hover, textarea:hover {
    border-color: #FDA31B;
}

.btn-form {
    margin-top: 20px;
    background-color: #16B7B2;
    color: black;
    width: 50%;
    margin-left: 25%;
}

.btn-form:hover {
    background-color: #CD2244;
}

/* ---------------------------------------  footer */

footer {
    background-color: #16B7B2;
    color: #fff;
}

.footer-col {
    margin-top: 10px;
}

footer a {
    color:#CD2244;
    font-size: 1em;
}

footer a:hover {
    color:#F55B2E;
}


